<?xml version="1.0"?>
<launch>
    <arg name="command" default="load" />
    <arg name="filePath" default="$(find path_server)/paths/loop.txt" />
    <arg name="pathTopic" default="path" />
    <arg name="odomTopic" default="odom" />
    <arg name="resolution" default="1.0" />
    <arg name="odomFrame" default="odom" />

    <!-- launch path_server node with params -->
    <node pkg="path_server" type="path_server" name="path_server" output="screen">
        <param name="command" value="$(arg command)" />
        <param name="filePath" value="$(arg filePath)" />
        <param name="pathTopic" value="$(arg pathTopic)" />
        <param name="odomTopic" value="$(arg odomTopic)" />
        <param name="resolution" value="$(arg resolution)" />
        <param name="odomFrame" value="$(arg odomFrame)" />
    </node>
</launch>